<div class="page-header">
	<h1>byGlass</h1>
</div>
<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="login">
			<h2 class="form-signin-heading pull-center">byGlass</h2>
			<p class="small pull-center mute">Gestão de Vidros</p>
			<%= form_for :session, :url => '/login', :html => {:class => 'form form-signin'} do |f| %>
			<div class="control-form">
				<%= f.label :email %>
				<%= f.text_field :email, class: 'form-control' %>		
			</div>
			<div class="control-form">
				<%= f.label :password %>
				<%= f.password_field :password, class: 'form-control' %>
			</div>
			<br>
			<div class="control-form">
				<%= f.submit "Entrar", class: 'btn btn-primary' %>
			</div>
			<% end %>
		</div>
	</div>
</div>
