<div class="row">
<%= bootstrap_form_for(@shape) do |f| %>
  <% if @shape.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shape.errors.count, "error") %> prohibited this shape from being saved:</h2>

      <ul>
      <% @shape.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group col-md-6 col-sm-12 col-xs-12">
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="control-group col-md-6 col-sm-12 col-xs-12">    
      <%= f.number_field :cost, prepend: 'R$ ' %>
  </div>
  <div class="control-group col-md-6 col-sm-12 col-xs-12">
    <%= f.text_field :markup, class: 'form-control', append: '%' %>
  </div>
  <div class="control-group col-md-6 col-sm-12 col-xs-12">
    <%= f.text_field :value, class: 'form-control', prepend: 'R$ ' %>
  </div>
  <div class="control-group col-md-12">
    <br>
    <%= f.submit class: 'btn btn-primary pull-right' %>
  </div>
<% end %>
</div>
