<h1><%= t('.page_title') %></h1>

<%= link_to new_shape_path, class: 'btn btn-primary pull-right' do %>
<i class="glyphicon glyphicon-plus"></i> <%= t('links.new') %>
<% end %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.cost') %></th>
      <th><%= t('.markup') %></th>
      <th><%= t('.value') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shapes.each do |shape| %>
      <tr>
        <td><%= shape.title %></td>
        <td><%= shape.cost %></td>
        <td><%= shape.markup %></td>
        <td><%= shape.value %></td>
        <td><%= link_to 'Show', shape %></td>
        <td><%= link_to 'Edit', edit_shape_path(shape) %></td>
        <td><%= link_to 'Destroy', shape, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

