<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @shape.title %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @shape.cost %>
</p>

<p>
  <strong>Markup:</strong>
  <%= @shape.markup %>
</p>

<p>
  <strong>Value:</strong>
  <%= @shape.value %>
</p>

<%= link_to 'Edit', edit_shape_path(@shape) %> |
<%= link_to 'Back', shapes_path %>
