<h1><%= t('.page_title') %></h1>

<%= link_to t('links.new'), new_type_path, class: 'btn btn-primary pull-right' %>
<br><br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t('.title')%></th>
      <th><%= t('.description')%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @types.each do |type| %>
      <tr>
        <td><%= type.title %></td>
        <td><%= type.description %></td>
        <td><%= link_to t('links.view'), type, class: 'btn btn-xs btn-primary' %></td>
        <td><%= link_to t('links.edit'), edit_type_path(type), class: 'btn btn-xs btn-success' %></td>
        <td><%= link_to t('links.delete'), type, method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

