<%= bootstrap_form_for(@customer, html: {class: 'form form-horizontal'}) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, t('general.error') ) %> <%= t('general.form_error') %></h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-12 col-sm-12">
    <%= f.form_group :entity, label: {text: 'Tipo de pessoa'} do %>
      <%= f.radio_button :entity, 1, label: 'Pessoa Física', inline: true %>
      <%= f.radio_button :entity, 2, label: 'Pessoa Jurídica', inline: true %>
    <% end %>
  </div>
  <div class="col-md-6 col-sm-12">    
    <%= f.text_field :name, class: 'col-md-6' %>
  </div>
  <div class="col-md-6 col-sm-12">    
    <%= f.text_field :cpf_cnpj, class: 'col-md-6', :'ui-mask' => '99.999.999/9999-99', :'ng-model' => 'Customer.cpf_cnpj' %>
  </div>
  <div class="col-md-3 col-sm-6">    
    <%= f.text_field :rg_ie, class: 'col-md-6', :'ui-mask' => '999.999.999-99', :'ng-model' => 'Customer.rg_ie' %>
  </div>  
  <div class="col-md-6 col-sm-12">    
    <%= f.text_field :email, class: 'col-md-6' %>
  </div>
   <div class="col-md-3 col-sm-3">    
    <%= f.text_field :contact, class: 'col-md-6' %>
  </div>
  <div class="col-md-6 col-sm-12">    
    <%= f.text_field :address, class: 'col-md-6' %>
  </div>
  <div class="col-md-6 col-sm-12">    
    <%= f.text_field :neighborhood, class: 'col-md-6' %>
  </div>
  <div class="col-md-6 col-sm-12">    
    <%= f.text_field :cep, class: 'col-md-6', :'ui-mask' => '99999-999', :'ng-model' => 'Customer.cep' %>
  </div>
  <div class="col-md-3 col-sm-6">    
    <%= f.text_field :city, class: 'col-md-6' %>
  </div>  
  <div class="col-md-3 col-sm-6">    
    <%= f.text_field :state, class: 'col-md-6' %>
  </div>  
  <div class="col-md-3 col-sm-6">    
    <%= f.text_field :phone, class: 'col-md-6', :'ui-mask' => '(99) 9999-9999', :'ng-model' => 'Customer.phone' %>
  </div>
  <div class="col-md-3 col-sm-6">    
    <%= f.text_field :cellphone, class: 'col-md-6', :'ui-mask' => '(99) 9999-9999', :'ng-model' => 'Customer.cellphone' %>
  </div>
  <div class="col-md-3 col-sm-6">
    <br>
    <%= f.submit class: 'btn btn-primary pull-right' %>
  </div>
<% end %>