<div class="container" ng-controller="CostumersCtrl">
    <div class="page-header"> 
    <h1 class="page-title">Clientes</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= link_to t('links.new'), new_customer_path, :class => 'btn btn-default pull-right' %>      
    </div>
  </div>
  <br>
  <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t('.id') %></th>
      <th><%= t('.name') %></th>
      <th><%= t('.email') %></th>
      <th><%= t('.contact') %></th>
      <th><%= t('.entity') %></th>
      <th><%= t('.phone') %></th>
      <th><%= t('.cellphone') %></th>
      <th><%= t('.cpf_cnpj') %></th>
      <th><%= t('.rg_ie') %></th>      
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= customer.name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.contact %></td>
        <td><%= entity_type customer.entity %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.cellphone %></td>
        <td><%= customer.cpf_cnpj %></td>
        <td><%= customer.rg_ie %></td>
        <td><%= link_to t('links.view'), customer, :class => 'btn btn-xs btn-primary' %></td>
        <td><%= link_to t('links.edit'), edit_customer_path(customer), :class => 'btn btn-xs btn-success' %></td>
        <td><%= link_to t('links.delete'), customer, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>