<p id="alert"><%= notice %></p>

<p>
  <strong><%= t('.name') %>:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong><%= t('.email') %>:</strong>
  <%= @customer.email %>
</p>
<p>
  <strong><%= t('.contact') %>:</strong>
  <%= @customer.contact %>
</p>

<p>
  <strong><%= t('.address') %>:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong><%= t('.phone') %>:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong><%= t('.cellphone') %>:</strong>
  <%= @customer.cellphone %>
</p>

<p>
  <strong><%= t('.cpf_cnpj') %>:</strong>
  <%= @customer.cpf_cnpj %>
</p>

<p>
  <strong><%= t('.rg_ie') %>:</strong>
  <%= @customer.rg_ie %>
</p>

<p>
  <strong><%= t('.created_at') %>:</strong>
  <%= @customer.created_at %>
</p>

<p>
  <strong><%= t('.updated_at') %>:</strong>
  <%= @customer.updated_at %>
</p>

<%= link_to t('links.edit'), edit_customer_path(@customer) %> |
<%= link_to t('links.back'), customers_path %>
