<h1><%= t('.page_title') %></h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.code') %></th>
      <th><%= t('.category') %></th>
      <th><%= t('.description') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= t(project.title) %></td>
        <td><%= project.code %></td>
        <td><%= project.category_id %></td>
        <td><%= project.description %></td>
        <td><%= link_to t('links.view'), project, class: 'btn btn-xs btn-primary' %></td>
        <td><%= link_to t('links.edit'), edit_project_path(project), class: 'btn btn-xs btn-success' %></td>
        <td><%= link_to t('links.delete'), project, class: 'btn btn-xs btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('links.new'), new_project_path, :class => 'btn btn-primary' %>
