<h1>Listing glasses</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Cost</th>
      <th>Markup</th>
      <th>Value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @glasses.each do |glass| %>
      <tr>
        <td><%= glass.title %></td>
        <td><%= glass.cost %></td>
        <td><%= glass.markup %></td>
        <td><%= glass.value %></td>
        <td><%= link_to 'Show', glass %></td>
        <td><%= link_to 'Edit', edit_glass_path(glass) %></td>
        <td><%= link_to 'Destroy', glass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Glass', new_glass_path %>
