<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @glass.title %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @glass.cost %>
</p>

<p>
  <strong>Markup:</strong>
  <%= @glass.markup %>
</p>

<p>
  <strong>Value:</strong>
  <%= @glass.value %>
</p>

<%= link_to 'Edit', edit_glass_path(@glass) %> |
<%= link_to 'Back', glasses_path %>
