$icon-font-path: "/fonts/";
@import '../../../app/assets/stylesheets/bootstrap/bootstrap.scss';
body{
	min-height: 2000px;
  	padding-top: 70px;
}
#main-footer{
	.container{
		padding-top: 15px;
	}
}
.field_with_errors{
	margin: 0;
	padding: 0;
	label{
		margin: 0;
		paddin: 0;
		color: #f00;
	}
	input{
		border: solid 1px #f00;
	}
}