<p id="notice"><%= notice %></p>

<p>
  <strong>Title</strong>
  <%= @category.title %>
</p>

<p>
  <strong>Description</strong>
  <%= @category.description %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
