<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @hardware.title %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @hardware.cost %>
</p>

<p>
  <strong>Markup:</strong>
  <%= @hardware.markup %>
</p>

<p>
  <strong>Value:</strong>
  <%= @hardware.value %>
</p>

<%= link_to 'Edit', edit_hardware_path(@hardware) %> |
<%= link_to 'Back', hardwares_path %>
