<%= bootstrap_form_for(@product) do |f| %>
	<% if @product.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

			<ul>
			<% @product.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<div class="col-md-6 col-sm-6 col-xs-12">    
		<%= f.text_field :code, 'ng-model' => 'Product.code' %>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-12">    
		<%= f.text_field :title, 'ng-model' => 'Product.title' %>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-12">    
		<%= f.select :type_id, Type.all.collect {|x| [x.title, x.id]}, :prompt => 'Selecione o Tipo', 'ng-model' => 'Product.type_id' %>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<%= f.number_field :width, min: 0, step: 1, append: 'mm', 'ng-model' => 'Product.width' %>
	</div>
	<div class="col-md-2 col-sm-2 col-xs-12">
		<%= f.number_field :stock, min: 0, step: 1, 'ng-model' => 'Product.stock' %>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<%= f.number_field :height, min: 0, step: 1, append: 'mm', 'ng-model' => 'Product.height' %>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<%= f.number_field :weight, min: 0, step: 0.01, append: 'g', 'ng-model' => 'Product.weight' %>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<%= f.number_field :cost, min: 0, step:0.05, prepend: 'R$ ', 'ng-model' => 'Product.cost' %>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<%= f.number_field :markup, min: 0, step: 0.1, append: '%', 'ng-model' => 'Product.markup', 'ng-change' => 'changeValue()'%>
	</div>	
	<div class="col-md-4 col-sm-4 col-xs-12">
		<%= f.number_field :value, prepend: 'R$ ', step: 0.01, 'readyonly' => true, 'ng-model' => 'Product.value', 'ng-value' => '{{Product.value = Product.cost + (Product.cost * (Product.markup / 100) ) }}', 'ng-change' => 'changeMarkup()'%>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12">
		<%= f.text_area :description, 'ng-model' => 'Product.description' %>
	</div>
	<div class="col-md-12">
		<%= f.submit class: 'btn btn-primary pull-right' %>
	</div>	
<% end %>