<h1><%= t('.page_title') %></h1>

<%= link_to t('links.new'), new_product_path, class: 'btn btn-primary pull-right' %>
<br><br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t('.code') %></th>
      <th><%= t('.type') %></th>
      <th><%= t('.description') %></th>
      <th><%= t('.stock') %></th>
      <th><%= t('.width') %></th>
      <th><%= t('.height') %></th>
      <th><%= t('.weight') %></th>
      <th><%= t('.cost') %></th>
      <th><%= t('.markup') %></th>
      <th><%= t('.value') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.code %></td>
        <td><%= product.type_id %></td>
        <td><%= product.description %></td>
        <td><%= product.stock %></td>
        <td><%= product.width %></td>
        <td><%= product.height %></td>
        <td><%= product.weight %></td>
        <td><%= product.cost %></td>
        <td><%= product.markup %></td>
        <td><%= product.value %></td>
        <td><%= link_to t('links.view'), product, class: 'btn btn-xs btn-primary' %></td>
        <td><%= link_to t('links.edit'), edit_product_path(product), class: 'btn btn-xs btn-success' %></td>
        <td><%= link_to t('links.delete'), product, class: 'btn btn-xs btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
