<p id="notice" class="alert"><%= notice %></p>
<h1><%= t('.page_title')%></h1>
<div class="row">
  <div class="col-md-9 col-sm-9 col-xs-12">
    <p class="text-primary"><strong><%= t('.title') %>:</strong>
    <%= @product.title %>
    </p>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-12">
    <p class="text-primary"><strong><%= t('.type_id') %>:</strong>
    <%= @product.type_id %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12">
    <p class="text-primary"><strong><%= t('.stock') %>:</strong>
    <%= @product.stock %>
    </p>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <p class="text-primary"><strong><%= t('.width') %>:</strong>
    <%= @product.width %>
    </p>
  </div>

  <div class="col-md-4 col-sm-4 col-xs-12">
    <p class="text-primary"><strong><%= t('.height') %>:</strong>
    <%= @product.height %>
    </p>
  </div>

  <div class="col-md-4 col-sm-4 col-xs-12">
    <p class="text-primary"><strong><%= t('.weight') %>:</strong>
    <%= @product.weight %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12">
    <p class="text-primary"><strong><%= t('.cost') %>:</strong>
    <%= @product.cost %>
    </p>
  </div>

  <div class="col-md-4 col-sm-4 col-xs-12">
    <p class="text-primary"><strong><%= t('.markup') %>:</strong>
    <%= @product.markup %>
    </p>
  </div>

  <div class="col-md-4 col-sm-4 col-xs-12">
    <p class="text-primary"><strong><%= t('.value') %>:</strong>
    <%= @product.value %>
    </p>
  </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12"> 
  <p class="text-primary"><strong><%= t('.description') %>:</strong><br>
  <%= @product.description %>
  </p>
</div>
<div class="row">
  <%= link_to t('links.edit'), edit_product_path(@product) %> |
  <%= link_to t('links.back'), products_path %>
</div>
