<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @measure.title %>
</p>

<p>
  <strong>Value:</strong>
  <%= @measure.value %>
</p>

<p>
  <strong>Unity:</strong>
  <%= @measure.unity %>
</p>

<%= link_to 'Edit', edit_measure_path(@measure) %> |
<%= link_to 'Back', measures_path %>
