<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 input-group">
		<label>Buscar produto</label>
		<input type="text" placeholder="Produto..." ng-model="product_add" typeahead="p.title for p in products | filter:$viewValue | limitTo:8" typeahead-on-select="onSelectProduct($item, $model, $label)" typeahead-editable="false" class="form-control">
	</div>
</div>
<br>
<table class="table table-bordered tablestriped">
	<thead>
		<tr>
			<th>Cod.</th>
			<th>Descrição</th>
			<th>Quantidade em estoque</th>
			<th>Valor</th>
			<th>Remover</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="p in Sale.Product">
			<td>{{p.code}}</td>
			<td>{{p.description}}</td>
			<td>{{p.stock}}</td>
			<td>{{p.value | currency}}</td>
			<td><a ng-click="removeProduct($index)" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i></a></td>
		</tr>
	</tbody>
</table>