<%= bootstrap_form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> impediram esta venda de ser realizada</h2>

      <ul>
      <% @sale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <input type="hidden" name="user_id" ng-model="Sale.user_id" value="1">
  <div class="row">
    <%= link_to "Sign out", new_user_session_path, :method => :post %>
    <div class="col-md-5 col-sm-5 col-xs-12">
      <label class="control-label" for="customer_id">Cliente</label>
      <select name="customer_id" id="customer_id" class="form-control" ng-model="Sale.customer_id" ng-options="c.id as c.name for c in customers">
        <option value="">Selecione</option>
      </select>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-4">
      <label for="payment_method" class="control-label">Forma de pagamento</label>
      <select name="payment_method" id="payment_method" class="form-control" ng-model="Sale.payment_method" ng-options="pm.id as pm.title for pm in payment_methods">
        <option value="">Selecione</option>
      </select>  
    </div>
      <div class="col-md-2 col-sm-2 col-xs-4">
      <br>
        <%= f.check_box :delivered, 'ng-model' => 'Sale.delivered' %>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4">    
      <br>
        <%= f.check_box :payed, 'ng-model' => 'Sale.payed' %>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <br>
      <%= f.text_area :observations, 'ng-model' => 'Sale.observations' %>
    </div>
  </div>
  <%= render 'add_products' %>
  <div class="row">
    <h3>Total: {{Sale.value | currency}}</h3>
  </div>
  <div class="row">
    <a ng-click="saveSale()" class="btn btn-primary pull-right">Salvar Venda</a>
  </div>
<% end %>
