<h1><%= t('.page_title') %></h1>
<%= link_to t('.new'), new_sale_path, class: 'btn btn-primary pull-right' %>
<br><br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t('.customer_id') %></th>
      <th><%= t('.value') %></th>
      <th><%= t('.delivered') %></th>
      <th><%= t('.payment_method') %></th>
      <th><%= t('.payed') %></th>
      <th><%= t('.user') %></th>
      <th><%= t('.observations') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.customer.name %></td>
        <td><%= number_to_currency(sale.value, unit: "R$ ", separator: ",", delimiter: "") %></td>
        <td><%= sale.delivered? %></td>
        <td><%= sale.payment_method %></td>
        <td><%= sale.payed? %></td>
        <td><%= sale.user_name %></td>
        <td><%= sale.observations %></td>
        <td><%= link_to t('links.view'), sale, class: "btn btn-xs btn-primary" %></td>
        <td><%= link_to t('links.edit'), edit_sale_path(sale), class: "btn btn-xs btn-success" %></td>
        <td><%= link_to t('links.delete'), sale, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>