<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @sale.customer_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @sale.user_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @sale.value %>
</p>

<p>
  <strong>Delivered:</strong>
  <%= @sale.delivered %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @sale.observations %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @sale.payment_method %>
</p>

<p>
  <strong>Payed:</strong>
  <%= @sale.payed %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
