<h1>Listing graphics</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Path</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @graphics.each do |graphic| %>
      <tr>
        <td><%= graphic.title %></td>
        <td><%= graphic.path %></td>
        <td><%= link_to 'Show', graphic %></td>
        <td><%= link_to 'Edit', edit_graphic_path(graphic) %></td>
        <td><%= link_to 'Destroy', graphic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Graphic', new_graphic_path %>
