<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @graphic.title %>
</p>

<p>
  <strong>Path:</strong>
  <%= @graphic.path %>
</p>

<%= link_to 'Edit', edit_graphic_path(@graphic) %> |
<%= link_to 'Back', graphics_path %>
