<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Navegação</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">byGlass</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">        
        <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to t('layout.home'), root_path %></li>
        <!-- <li><a href="#">Orçamentos</a></li>
        <li><a href="#">Relatórios</a></li> -->        
        <li><%= link_to t('layout.customers'), controller: '/customers', action: 'index' %></li>
        <li><%= link_to t('layout.products'), controller: '/products', action: 'index' %></li>
        <li><%= link_to t('layout.sales'), controller: '/sales', action: 'index' %></li>
        <li><%= link_to t('layout.types'), controller: '/types', action: 'index' %></li>   
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><%= link_to t('Sair'), destroy_user_session_path, :method => :delete %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>