<!DOCTYPE html>
<html ng-app="byglass">
<head>
  <title>Byglass</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="AppCtrl">
  <div id="wrap" class="container">
    
    <%= render 'layouts/main_menu' %>

    <div id="main">
      <% if flash[:status] == false %>
      <div class="alert alert-danger">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <%= flash[:alert] %>
      </div>
      <% end %>
        <%= yield %>

    </div><!--#main-->
  <!--#wrap-->
  <footer id="main-footer" class="container">
     <nav class="navbar navbar-default navbar-fixed-bottom">    
      <div class="container">
        byGlass - byLife Soluções Web <a href="mailto:contato@byglass.com.br" class="pull-right">contato@byglass.com.br</a>
      </div>
    </nav>
  </footer>
  <div class="modal fade" id="main-modal" tabindex="-1" role="dialog" aria-labelledby="byGlass" aria-hidden="true"></div>
</body>
</html>
